<template>
    <div class="form-input" v-bind:style="styleHW">
        <input :placeholder="placeholder" v-bind:style="styleHW">
    </div>
</template>

<script>
    export default {
        name: "FromInput",
        props: ['placeholder', 'styleHW']
    }
</script>

<style scoped lang="scss">
    .form-input{
        display: inline-block;
        margin: 2.5vh 1vw;
    }
    .form-input input{
        display: block;
        background: #fff;
        padding-left: 15px;
        box-sizing: border-box;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #000000;
        text-align: left;
    }
</style>