<template>
    <div class="form-block">
        <div class="form-block__header" id="form">
            Узнайте больше
        </div>
        <div class="form-block__sub-header">
            Свяжитесь с нами прямо сейчас!
        </div>
        <div class="form-block__form">
            <form>
            <div class="form-block__form-inputs">
                <form-input
                        placeholder="Имя*"
                        :style-h-w="styleInputHW"
                        v-model="name"
                        :value="name"
                ></form-input>
                <form-input
                        placeholder="Компания*"
                        :style-h-w="styleInputHW"
                        v-model="company"
                        :value="company"
                ></form-input>
                <form-input
                        placeholder="Телефон*"
                        :style-h-w="styleInputHW"
                        v-model="phone"
                        :value="phone"
                ></form-input>
                <form-input
                        placeholder="E-mail*"
                        :style-h-w="styleInputHW"
                        v-model="email"
                        :value="email"
                ></form-input>
                <form-text-area
                        placeholder="Опишите свой вопрос или оставьте заявку и мы с Вами свяжемся!*"
                        :style-h-w="styleBigInputHW"
                        v-model="text"
                        :value="text"
                ></form-text-area>

                </div>
                <div class="form-block__form-footer">
                    <input type="checkbox">
                    <div class="form-block__form-footer-text">Я ознакомлен(а) с правилами <a href="#"> политики конфиденциальности*</a>
                        и даю согласие на <a href="#"> обработку персональных данных</a></div>
                </div>
                <div class="form-block__form-footer">
                    <button type="submit" class="form-block__form-footer-button" @click="handleSubmit">
                        Отправить
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import FormInput from "./FormInput"
    import FormTextArea from "./FormTextArea"
    export default {
        name: "FormBlock",
        components: {FormInput, FormTextArea},
        data: function () {
            return {
                styleInputHW: {
                    height: "54px",
                    width:"20vw"
                },
                styleBigInputHW: {
                    height: "190px",
                    width:"42vw"
                },
                name: '',
                company: '',
                phone: '',
                email: '',
                text:''
            }
        },
        methods:{
            handleSubmit : function() {
                alert("Ваша заявка принята, спасибо.")
            }
        }
    }
</script>

<style scoped lang="scss">
    .form-block {
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        background-image: url(/images/form-block.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    &__header {
        margin: auto;
        width: 40%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        font-size: 5vh;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        padding-top: 16vh;
    }
    &__sub-header{
        margin: auto;
        width: 40%;
        font-family: Sitka;
        line-height: normal;
        font-size: 2.5vh;
        text-align: center;
        color: #FFFFFF;
        padding-top: 1vh;
    }

    &__form{
        width: 45.8%;
        margin: auto;
        padding-top: 1vh;
    }
    &__form-inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    &__form-footer{
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 4vh;
    }
        &__form-footer-text{
            display: inline-block;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            padding-left: 10px;
            box-sizing: border-box;
            color: #FFFFFF;
        }
        &__form-footer-text a{
            color: #0EC5C8;
            text-decoration: underline;
        }
        &__form-footer-button{
            display: inline-block;
            margin: auto;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            padding: 10px 50px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background: none;
        }
        &__form-footer-button:hover{
            cursor: pointer;
            background: #fff;
            color: #074DA0;
        }

    }
</style>