<template>
    <div class="form-input" v-bind:style="styleHW">
        <textarea :placeholder="placeholder" v-bind:style="styleHW"></textarea>
    </div>
</template>

<script>
    export default {
        name: "FormInput",
        props: ['placeholder', 'styleHW']
    }
</script>

<style scoped lang="scss">
    .form-input{
        display: inline-block;
        margin: 23px 10px;
    }
    .form-input textarea{
        display: block;
        background: #fff;
        padding: 10px 15px;
        box-sizing: border-box;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #000000;
        text-align: left;
    }
</style>