<template>
    <span class="partner-card" :class="icon">

    </span>
</template>

<script>
    export default {
        name: "PartnerCard",
        props: ['icon']
    }
</script>

<style scoped lang="scss">
    .partner-card{
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        border: 2px solid #E5E5E5;
        margin: 2vh 1vw;
        width: 200px;
        height: 120px;
    }

    .icons-visa{
        background-image: url(/images/icons-visa.png);
    }
    .icons-huawei{
        background-image: url(/images/icons-huawei.png);
    }
    .icons-acer{
        background-image: url(/images/icons-acer.png);
    }
    .icons-arc{
        background-image: url(/images/icons-arc.png);
    }
    .icons-canon{
        background-image: url(/images/icons-canon.png);
    }
    .icons-dell{
        background-image: url(/images/icons-dell.png);
    }
    .icons-energoneft{
        background-image: url(/images/icons-energoneft.png);
    }
    .icons-gazorom{
        background-image: url(/images/icons-gazorom.png);
    }
    .icons-rosneft{
        background-image: url(/images/icons-rosneft.png);
    }
    .icons-tomskneft{
        background-image: url(/images/icons-tomskneft.png);
    }




</style>