<template>
    <div class="partners-block" id="partner">
        <div class="height-container">
            <div class="partners-block__header">
                Нам уже доверяют
            </div>
            <div class="partners-block__list-partners">
                <partner-card icon="icons-visa"></partner-card>
                <partner-card icon="icons-huawei"></partner-card>
                <partner-card icon="icons-canon"></partner-card>
                <partner-card icon="icons-dell"></partner-card>
                <partner-card icon="icons-acer"></partner-card>
                <partner-card icon="icons-rosneft"></partner-card>
                <partner-card icon="icons-gazorom"></partner-card>
                <partner-card icon="icons-tomskneft"></partner-card>
                <partner-card icon="icons-energoneft"></partner-card>
                <partner-card icon="icons-arc"></partner-card>


            </div>
        </div>
    </div>
</template>

<script>
    import PartnerCard from "./PartnerCard";
    export default {
        name: "PartnersBlock",
        components: {PartnerCard}
    }
</script>

<style scoped lang="scss">
    .height-container{
        height: 100vh;
    }
    .partners-block {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        background: #fff;

        &__header {
            margin: auto;
            width: 40%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            font-size: 5vh;
            text-align: center;
            text-transform: uppercase;
            color: #074DA0;
            padding-top: 16vh;
        }

        &__list-partners{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 65%;
            margin: auto;
            padding-top: 5vh;
        }
    }
</style>