<template>
    <div class="tech-menu">
        <tech-menu-component
                title="Web разработка"
                icon="icons-web-site"
                image="images-web-site"
        ></tech-menu-component>
        <tech-menu-component
                title="Мобильные приложения"
                icon="icons-mobile"
                image="images-mobile"
        ></tech-menu-component>
        <tech-menu-component
                title="Настольные приложения"
                icon="icons-desktop"
                image="images-desktop"
        ></tech-menu-component>
        <tech-menu-component
                title="Серверная поддержка"
                icon="icons-server"
                image="images-server"
        ></tech-menu-component>
        <tech-menu-component
                title="Базы данных"
                icon="icons-data"
                image="images-data"
        ></tech-menu-component>
    </div>
</template>

<script>
    import TechMenuComponent from "./TechMenuComponent";
    export default {
        name: "TechMenu",
        components: {TechMenuComponent}
    }
</script>

<style scoped lang="scss">
    .tech-menu{
        width: 100%;
        background: none;
        padding: 20px 0;
        box-sizing: border-box;
    }
</style>