<template>
    <div class="tech-menu-component"
    @mouseover="setTechBlockImageId(image)"
    >
        <div class="tech-menu-component__title">
            {{title}}
        </div>
        <span class="tech-menu-component__icon" :class="icon"></span>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        name: "TechMenuComponent",
        props: ['title', 'icon', 'image'],
        methods: {
            ...mapActions([
                'setTechBlockImageId',
            ]),
        }
    }
</script>

<style scoped lang="scss">
    .tech-menu-component{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 8px;
        margin-bottom: 25px;
        width: 100%;
        height: 10vh;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);

        &__title{
            width: 450px;
            font-family: Sitka;
            line-height: normal;
            font-size: 40px;
            color: #074DA0;
        }

        &__icon{
            display: block;
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .icons-web-site{
            background-image: url(/images/icons-web-site.png);
        }
        .icons-mobile{
            background-image: url(/images/icons-mobile.png);
        }
        .icons-desktop{
            background-image: url(/images/icons-desktop.png);
        }
        .icons-server{
            background-image: url(/images/icons-server.png);
        }
        .icons-data{
            background-image: url(/images/icons-data.png);
        }
    }
    .tech-menu-component:last-of-type{
        margin-bottom: 0;
    }
    .tech-menu-component:hover{
        cursor: pointer;
        width: 110%;
    }
</style>