<template>
    <div class="tech-images">
        <div class="tech-images__container" :class="image" >
        </div>
    </div>
</template>

<script>
    export default {
        name: "TechImagesComponent",

        computed:{
            image : function() { return this.$store.getters.getTechBlockImageId }
        }
    }
</script>

<style scoped lang="scss">
    .tech-images{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 5% 0;
        box-sizing: border-box;

        &__container{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            box-sizing: border-box;
            height: 90%;
            width: 100%;
        }
    }

    .images-web-site{
        background-image: url(/images/images-web-site.png);
    }
    .images-mobile{
        background-image: url(/images/images-mobile.png);
    }
    .images-desktop{
        background-image: url(/images/images-desktop.png);
    }
    .images-server{
        background-image: url(/images/images-server.png);
    }
    .images-data{
        background-image: url(/images/images-data.png);
    }
</style>