<template>
    <div class="tech-block">
        <div class="tech-block__header" id="tech">
            Воспользуйтесь нашими технологиями
        </div>
        <div class="tech-block__items">
            <div class="tech-block__left-item">
                <tech-menu></tech-menu>
            </div>
            <div class="tech-block__right-item">
                <tech-images-component></tech-images-component>
            </div>
        </div>
    </div>
</template>

<script>
    import TechMenu from "./TechMenu";
    import TechImagesComponent from "./TechImagesComponent";
    export default {
        name: "TechBlock",
        components: {TechImagesComponent, TechMenu}
    }
</script>

<style scoped lang="scss">
    .tech-block{
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        background: url(/images/tech-block.png) no-repeat;

        &__header{
             margin: auto;
             width: 40%;
             font-family: Montserrat;
             font-style: normal;
             font-weight: 800;
             line-height: normal;
             font-size: 5vh;
             text-align: center;
             text-transform: uppercase;
             color: #074DA0;
             padding-top: 16vh;
         }
        &__items{
            display: flex;
            width: 100%;
        }
        &__left-item{
            width: 50%;
            padding-right: 20px;
        }
        &__right-item{
            width: 50%;
        }
    }
</style>