<template>
    <div
        class="start-block"
        id="start"
        @mousemove="onMouseMove"
    >
        <div class="start-block__plexus"
        >
            <div class="start-block__plexus-container"
                 :style="{transform: translateXString}">
            </div>
        </div>
        <main-header></main-header>
        <div class="start-block__content" >
            <div class="start-block__header">
                <line-block></line-block>
                <div class="start-block__header-text">
                    Привет!
                </div>
                <line-block></line-block>
            </div>

            <div class="start-block__main-text">
                Мы воплотим ваши самые смелые идеи!
            </div>

            <div class="start-block__footer">
                <line-block></line-block>
                <div class="start-block__footer-text">
                    <p>Peack data company</p>
                </div>
                <line-block></line-block>
            </div>
        </div>
    </div>
</template>

<script>
    import LineBlock from "../helpers/LineBlock";
    import MainHeader from "../helpers/MainHeader";
    export default {
        name: "StartBlock",
        components: {MainHeader, LineBlock},
        data () {
            return {
                translateXString: 'translateX(0)',
                translateXValue: 0,
            }
        },
        methods:{
            onMouseMove(){
                let m = document.documentElement.clientWidth / 2;
                if(event.clientX > m) {
                    this.translateXValue = this.translateXValue - event.clientX / 10000;
                }else{
                    this.translateXValue = this.translateXValue + event.clientX / 5000;
                }
                this.translateXString = `translateX(${this.translateXValue}px)`
            },
        }
    }
</script>

<style scoped lang="scss">
    .start-block{
        background-image: url(/images/start-block.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        &__plexus{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        &__plexus-container{
            width: 120%;
            height: 100%;
            background-image: url(/images/plexus.png);
            background-repeat: no-repeat;
        }
        &__content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }

        &__header{
            display: flex;
            align-items: center;
            width: 100%;
            &-text{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                font-size: 7vw;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                padding: 0 10px;
                box-sizing: border-box;
            }
        }

        &__main-text{
            font-family: Montserrat;
            font-weight: 800;
            line-height: normal;
            font-size: 5vw;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 80%;
            margin: auto;
            padding: 24px 0;
        }

        &__footer{
            display: flex;
            align-items: center;
            width: 100%;
            &-text{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                line-height: 37px;
                font-size: 2vw;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                padding: 0 10px;
            }

            &-text p {
                display: block;
                width: 250px;
            }
        }

    }
</style>