<template>
    <div class="line-block"></div>
</template>

<script>
    export default {
        name: "LineBlock"
    }
</script>

<style scoped lang="scss">
    .line-block{
        background: #fff;
        height: 2px;
        width: 100%;
    }
</style>