<template>
    <div class="main-header transition"
        :class="background"
         v-scroll="handleScroll"
    >
        <div class="main-header__logo-block">
            <span class="main-header__logo logo"></span>
        </div>
        <div class="main-header__menu">
            <a class="main-header__menu-item" @click="onClick(1)">
                Услуги
            </a>
            <a class="main-header__menu-item" @click="onClick(2)">
                Технологии
            </a>
            <a class="main-header__menu-item" @click="onClick(3)">
                Проекты
            </a>
            <a class="main-header__menu-item" @click="onClick(5)">
                Контакты
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MainHeader",
        data: function () {
            return {
                index: 0,
                currentScroll: 0,
                listId: ['start', 'help', 'tech', 'product', 'partner', 'form'],
                background: 'background-false'
            }
        },
        methods: {
            handleScroll: function (evt, el) {

                this.background = 'background-false';

                if (window.scrollY > 50){
                    this.background = 'background-true'
                }else{
                    this.background = 'background-false'
                }

                if ((window.scrollY - this.currentScroll) >= 50) {
                    this.index++;
                    this.currentScroll = document.documentElement.clientHeight * this.index;
                    window.location.hash = this.listId[this.index];
                }
                if ((window.scrollY - this.currentScroll) <= -50) {
                    this.index--;
                    this.currentScroll = document.documentElement.clientHeight * this.index;
                    window.location.hash = this.listId[this.index];
                }
                return false
            },
            onClick: function (index) {
                this.index = index;
                this.currentScroll = document.documentElement.clientHeight * this.index;
                window.location.hash = this.listId[this.index];
            }
        }
    }
</script>

<style scoped lang="scss">
    .main-header{
        display: flex;
        position: fixed;
        width: 100%;
        height: 70px;
        &__logo-block{
            padding-left:5vw;
            height: 70px;
            margin-right: auto;
        }
        &__logo{
            display: block;
            height: 100%;
            width: 349px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__menu{
            display: flex;
            height: 70px;
            padding-right: 5vw;
        }
        &__menu-item{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            height: 70px;
            padding-top: 26px;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-right: 3vw;
            box-sizing: border-box;
        }
        &__menu-item:last-of-type{
            margin-right: 0;
        }
        &__menu-item:hover{
            cursor:pointer;
        }

    }
    .background-true{
        background: rgba(0, 0, 0, 0.8);
    }
    .background-false{
        background: none;
    }
    .logo{
        background-image: url(/images/logo.png);
    }
    .transition {
        transition: 4s;
    }
</style>