<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>

    <div id="app"></div>
  </body>
</html>
