<template>
    <div class="products-block">
        <div class="products-block__header" id="product">
            Для вас у нас уже есть решения!
        </div>
        <div class="products-block__list-products">
            <product-card
                icon="icons-flowdox"
                text="Система управления проектной деятельностью"
                textUser="40 тыс. пользователей"
            ></product-card>
            <product-card
                icon="icons-verdox"
                text="Автоматизированный документооборот"
                textUser="100 тыс. пользователей"
            ></product-card>
            <product-card
                icon="icons-select"
                text="Онлайн сервис поиска квартир"
                textUser="5 тыс. пользователей ежедневно"
            ></product-card>
        </div>
    </div>
</template>

<script>
    import ProductCard from "./ProductCard";
    export default {
        name: "ProductsBlock",
        components: {ProductCard}
    }
</script>

<style scoped lang="scss">
    .products-block {
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        background: radial-gradient(1081.71px at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(180deg, #F0F0F0 0%, #FFFFFF 46.62%, #F0F0F0 100%);

        &__header {
            margin: auto;
            width: 40%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            font-size: 5vh;
            text-align: center;
            text-transform: uppercase;
            color: #074DA0;
            padding-top: 16vh;
        }
        &__list-products{
            display: flex;
            padding: 6vh 10vw;
            justify-content: space-between;
        }
    }
</style>