<template>
    <div class="product-card">
        <div class="product-card__icon-block">
            <span class="product-card__icon" :class="icon"></span>
        </div>
        <div class="product-card__text">
            {{text}}
        </div>
        <div class="product-card__text-about-user">
            {{textUser}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductCard",
        props:['text', 'textUser', 'icon']
    }
</script>

<style scoped lang="scss">
    .product-card{
        width: 30vw;
        height: 55vh;
        border: 3px solid #074DA0;
        box-sizing: border-box;
        margin-right: 6vw;

        &__icon-block{
            height: 35%;
            border-bottom: 3px solid #074DA0;
            margin: 0 12px;
        }
        &__icon{
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
            height: 100%;
            width: 75%;
            margin: auto;
        }
        &__text{
            padding-top:7vh;
            font-family: Sitka;
            line-height: 27px;
            font-size: 27px;
            text-align: center;
            color: #074DA0;
        }
        &__text-about-user{
            padding-top: 20px;
            font-family: Akrobat;
            line-height: normal;
            font-size: 30px;
            text-align: center;
            color: #074DA0;
        }
        &__footer{
            display: flex;
            justify-items: center;
            align-items: flex-end;
            width: 100%;
            height: auto;
            box-sizing: border-box;
        }
        &__button{
            display: inline-block;
            background: #074DA0;
            color: #fff;
            padding: 8px 50px;
            box-sizing: border-box;
            margin: auto;
            margin-top: 28px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            text-align: center;
        }
        &__button:hover{
            cursor: pointer;
            background: #1476F2;
        }
    }
    .product-card:last-of-type{
        margin-right: 0;
    }

    .icons-flowdox{
        background-image: url(/images/icons-flowdox.png);
    }
    .icons-verdox{
        background-image: url(/images/icons-verdox.png);
    }
    .icons-select{
        background-image: url(/images/icons-select.png);
    }
</style>