<template>
    <div id="example">
        <carousel-3d :controls-visible="true" :controls-prev-html="'&#10092;'" :controls-next-html="'&#10093;'"
                     :controls-width="30" :controls-height="60" :clickable="false" :width="400" :height="400">
            <slide :index="0">
                <help-component
                        icon="icons-web-site"
                        title="Веб-сайт или веб-приложение"
                        text="Мы используем новейшие технологии разработки веб-сайтов. Ваш сайт будет технологичным, адаптивным и гарантированно принесет Вам успех!"
                ></help-component>
            </slide>
            <slide :index="1">
                <help-component
                        icon="icons-mobile"
                        title="Мобильные приложения"
                        text="Для Вас мы быстро и качественно разработаем эффективное мобильное приложение, которое будет соответствовать бренду и стилю Вашей компании"
                ></help-component>
            </slide>
            <slide :index="2">
                <help-component
                        icon="icons-desktop"
                        title="Desktop приложения"
                        text="Для Вас мы быстро и качественно разработаем эфективное мобильное приложение, которое будет соответствовать Вашему бренду и стилю"
                ></help-component>
            </slide>
            <slide :index="3">
                <help-component
                        icon="icons-style"
                        title="Соврменный и стильный дизайн"
                        text="Мы используем самые современные подходы в UI/UX дизайне. Ваши веб-сайты или приложения будут стильными, а также будут соответствовать самым новейшим трендам в мире дизайна"
                ></help-component>
            </slide>
            <slide :index="4">
                <help-component
                        icon="icons-style"
                        title="Соврменный и стильный дизайн"
                        text="Мы используем самые современные подходы в UI/UX дизайне. Ваши веб-сайты или приложения будут стильными, а также будут соответствовать самым новейшим трендам в мире дизайна"
                ></help-component>
            </slide>
        </carousel-3d>
    </div>
</template>

<script>
    import { Carousel3d, Slide } from 'vue-carousel-3d';
    import HelpComponent from "./HelpComponent";
    export default {
        name: "HelpCarousel",
        data: function () {
            return {
                slides: 7
            }
        },
        components: {
            HelpComponent,
            Carousel3d,
            Slide
        }
    }
</script>

<style lang="scss">
</style>