<template>
    <div class="help-component">
        <div class="help-component__icon-block">
            <span class="help-component__icon" :class="icon"></span>
        </div>
        <div class="help-component__title">
            {{title}}
        </div>
        <div class="help-component__text">
            {{text}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "HelpComponent",
        props: ['icon', 'title', 'text']
    }
</script>

<style scoped lang="scss">
    .help-component{
        display: block;
        width: 400px;
        height: 400px;
        padding: 80px 20px 0 20px;
        box-sizing: border-box;
        background: #fff;
        margin-right: 20px;
        margin-bottom: 25px;

        &__title{
            width: 100%;
            font-family: Sitka;
            line-height: normal;
            font-size: 24px;
            text-align: center;
            color: #000000;
            padding: 34px 0 16px 0;
            box-sizing: border-box;
        }

        &__text{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            color: #000000;
        }

        &__icon-block{
            display: flex;
            align-items: center;
            margin: auto;
            width: 85px;
            height: 85px;
            border: 3px solid #074DA0;
            box-sizing: border-box;
            border-radius: 23px;
        }

        &__icon{
            display: block;
            width: 85px;
            height: 85px;
            margin: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .help-component:hover{
        cursor: pointer;
    }

    .icons-web-site{
        background-image: url(/images/icons-web-site.png);
    }
    .icons-mobile{
        background-image: url(/images/icons-mobile.png);
    }
    .icons-desktop{
        background-image: url(/images/icons-desktop.png);
    }
    .icons-style{
        background-image: url(/images/icons-style.png);
    }
</style>