<template>
    <div class="help-block" id="help">
        <div class="help-block__header">
            Вот, что мы можем разработать для вас
        </div>
        <div class="help-block__list-help-components">
            <help-carousel></help-carousel>
        </div>
    </div>
</template>

<script>
    import HelpCarousel from "./HelpCarousel";
    export default {
        name: "HelpBlock",
        components: {HelpCarousel}
    }
</script>

<style scoped lang="scss">
    .help-block{
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        background: #F0F0F0;

        &__header{
            margin: auto;
            width: 40%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            font-size: 5vh;
            text-align: center;
            text-transform: uppercase;
            color: #074DA0;
            padding-top: 16vh;
         }

        &__list-help-components{
            padding: 3.5vh 0;
            width: 90%;
            margin: auto;
            height: 430px;
        }

        &__footer{
            display: flex;
            justify-items: center;
            align-items: center;
            width: 100%;
        }
        &__button{
            display: inline-block;
            border: 2px solid #074DA0;
            box-sizing: content-box;
            padding: 10px 30px;
            margin: auto;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            color: #074DA0;
        }
        &__button:hover{
            cursor: pointer;
            background: #074DA0;
            color: #fff;
        }
    }

</style>