<template>
  <div id="app">
    <start-block></start-block>
    <help-block></help-block>
    <tech-block></tech-block>
    <products-block></products-block>
    <partners-block></partners-block>
    <form-block></form-block>
  </div>
</template>

<script>
import StartBlock from "./components/StartBlock/StartBlock";
import HelpBlock from "./components/HelpBlock/HelpBlock";
import TechBlock from "./components/TechBlock/TechBlock";
import ProductsBlock from "./components/ProductsBlock/ProductsBlock";
import PartnersBlock from "./components/PartnersBlock/PartnersBlock";
import FormBlock from "./components/FormBlock/FormBlock";

export default {
  name: 'app',
  components: {
      FormBlock,
      PartnersBlock,
      ProductsBlock,
      TechBlock,
      HelpBlock,
      StartBlock
  },
}
</script>

<style lang="scss">

  @font-face {
    font-family: 'Akrobat';
    src: local('Akrobat'), local('Akrobat-Regular'), url('/font/Akrobat.woff2') format('woff2'), url('/font/Akrobat.woff') format('woff'), url('/font/Akrobat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, section, summary, time,
  mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    /* (a) self-defined font-family: */
    font-family: 'Roboto', sans-serif
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body { line-height: 1; margin: 0;}

  ol, ul { list-style: none; }

  blockquote, q { quotes: none; }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


  /* End of block of predefined styles */


  a {
    text-decoration: none;
  }
  button{
    outline: none;
    cursor: pointer;
  }
  #app {
    width: 100%;
    height: 100vh;
  }
</style>
